# System Files
.DS_Store
Thumbs.db
*.log

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependencies
node_modules/
vendor/

# Build Artifacts
*.zip
*.tar.gz

# Plugin Specific / Submission Files
wordpress-org-submission-info.txt
svn-ignore.txt
svn-repo/

